<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.out</target>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-6level[%logger{0}]: %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="io.divolte" level="DEBUG" />
  <!-- <logger name="io.divolte.server.IncomingRequestProcessor" level="INFO" />
  <logger name="io.divolte.server.Server" level="INFO" /> -->

  <root level="info">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>
